<div class="card flex justify-center gap-2">
  <p-toast />
</div>
@if (album) {
  <p-dialog
    [(visible)]="showAddTrack"
    header="Add to Playlist"
    [modal]="true"
    [style]="{ width: '400px' }"
  >
    <div
      class="flex flex-col"
      style="
        border: 1px solid var(--p-inputtext-border-color);
        border-radius: 16px;
        overflow: hidden;
      "
    >
      @for (playlist of playlists(); track playlist.id; let last = $last) {
        <div
          class="flex items-center justify-between px-4 py-3 cursor-pointer hover:opacity-70 transition-opacity"
          [style.border-bottom]="last ? 'none' : '1px solid var(--p-inputtext-border-color)'"
          role="button"
          tabindex="0"
          (click)="setAddToPlaylist(playlist)"
          (keydown.enter)="setAddToPlaylist(playlist)"
        >
          <span class="text-sm font-medium">{{ playlist.name }}</span>
          <i class="pi pi-plus-circle opacity-50" style="font-size: 13px"></i>
        </div>
      }
    </div>
  </p-dialog>
  <div class="p-6">
    <div class="flex justify-center p-6 h-full">
      <div
        class="flex h-full flex-col gap-2 cursor-pointer hover:opacity-70 transition-opacity shrink-0 items-center m-[3%]"
        style="width: 120px"
      >
        <img
          [src]="album.cover_big"
          class="w-full rounded-xl object-cover h-full"
          style="border: 1px solid var(--p-inputtext-border-color)"
          [alt]="album.artist?.name + ' image'"
        />
        <h4 class="text-xl font-semibold truncate">{{ album.title }}</h4>
        <h5 class="text-base opacity-50 truncate">{{ album.artist?.name }}</h5>
        <h6 class="text-base opacity-50 truncate italic">{{ releaseDate }}</h6>
      </div>
    </div>

    @if (tracks) {
      <section class="mb-8">
        <h2 class="text-lg font-semibold mb-3 opacity-60">Tracks</h2>
        <div
          class="flex flex-col"
          style="
            border: 1px solid var(--p-inputtext-border-color);
            border-radius: 16px;
            overflow: hidden;
          "
        >
          @for (track of tracks; track track.id; let last = $last) {
            <div
              class="flex items-center gap-4 px-4 py-3 cursor-pointer hover:opacity-70 transition-opacity"
              [style.border-bottom]="last ? 'none' : '1px solid var(--p-inputtext-border-color)'"
            >
              <button
                type="button"
                (click)="onTrackClick(track)"
                class="p-0 border-none bg-transparent cursor-pointer"
                [attr.aria-label]="'Play ' + track.title"
              >
                <img
                  [src]="album.cover_small"
                  class="w-10 h-10 rounded-lg object-cover"
                  [alt]="album.artist?.name"
                />
              </button>

              <div
                class="flex flex-col flex-1 min-w-0"
                (click)="onTrackClick(track)"
                role="button"
                tabindex="0"
                (keypress.enter)="onTrackClick(track)"
              >
                <span class="text-sm font-medium truncate">{{ track.title }}</span>
                <span class="text-xs opacity-50 truncate">{{ track.artist.name }}</span>
              </div>
              <span
                class="text-xs opacity-40"
                (mouseenter)="hoveredTrackId = track.id"
                (mouseleave)="hoveredTrackId = null"
              >
                @if (hoveredTrackId === track.id) {
                  <div
                    (click)="setActiveTrack(track); showAddTrackDialog()"
                    role="button"
                    tabindex="0"
                    (keypress.enter)="setActiveTrack(track); showAddTrackDialog()"
                  >
                    <img src="bookmark-plus.svg" alt="trash icon" class="w-6 h-6 invert" />
                  </div>
                } @else {
                  {{ formatDuration(track.duration) }}
                }
              </span>
            </div>
          }
        </div>
      </section>
    }
  </div>
}
